.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  background-color: #2B7A78;
}

.about-description {
  color: white;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1em;
  margin: 1em 1em 3em 1em;
  height: fit-content;
  background-color: #17252A;
  /* z-index: 2; */
  border-radius: 0.5em;
}

.about-description p{
  font-size: 1.35rem;
  margin: 1rem 1rem 0.5rem 1rem;
}

.about-image {
  display: none;
  /* position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
  top: 5em;
  right: 45em;
  width: 50em;
  height: 15em;
  z-index: 1;
  border-radius: 0.5em; */
}

.technology-icons {
  display: none;
}

.about-title {
  display: flex;
  align-self: center;
  margin-bottom: 0.1em;
  margin-top: 3em;
}

.aboutHR {
  width: 10em;
}

@media only screen and (min-width: 55em) {
    .about-section {
      display: flex;
      align-items: center;
    }

    .about-description {
      max-width: calc(80% - 1em);
      justify-content: center;
      align-items: center;
    }

    .technology-icons {
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      flex-flow: row wrap;
      height: fit-content;
      padding-bottom: 3.5em;
      width: 100%;
      align-items: flex-end;
    }
}