.about-section {
  position: relative;
  height: 100vh;
  background-color: #3D3b3c;
}

.about-description {
  position: absolute;
  color: white;
  flex-wrap: wrap;
  padding: 1em;
  width: 35em;
  height: 17em;
  font-size: 1.5em;
  background-color: royalblue;
  z-index: 2;
  left: 20em;
  bottom: 1.5em;
}

.technology-icons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  bottom: 21em;
  left: 5em;
  width: 33em;
  height: 14em;
  z-index: 1;
  background-color: white;
}

.about-section .icons .icon {
  margin-right: 2%;
}

@media only screen and (max-width: 480px) {
    .about-section {
        height: auto;
    }

    .about-section div {
        width: auto;
        text-align: center;
    }

    .about-section .icons {
        display: none;
    }
}