.about-section {
  height: auto;
  background-color: #7F7979;
}

.about-description {
  color: white;
  width: 65%;
  font-size: 1.5em;
  padding: 7%;
}

.about-section .icons {
  text-align: right;
  margin-right: 5%;
  padding-bottom: 6.75%;
}

.about-section .icons .icon {
  margin-right: 2%;
}

@media only screen and (max-width: 480px) {
    .about-section {
        height: auto;
    }

    .about-section div {
        width: auto;
        text-align: center;
    }

    .about-section .icons {
        display: none;
    }
}