.contact-section {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: #17252A;
}

/* .contact-section .contact-image {
  height: auto;
  min-height: 100%;
  max-height: 100%;
  width: 50%;
  background-image: url('../images/seattle_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #2b7a78;
  width: 80%;
  border-radius: 1em;
  height: fit-content;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em;
}

.contact-icons {
  display: inline-block;
  border-radius: 3em;
  box-shadow: 0px 0px 5px black;
  padding: 0.5em 0.6em;
}

/* .contact-section .contact-info .email{
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 40%;
  display: inline-flex;
} */

/* .contact-section .contact-info .email .emailText {
  width: 275px;
  padding-left: 20%;
} */

/* .contact-section .contact-info .phone {
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 7%;
  display: inline-flex;
} */

/* .contact-section .contact-info .phone .phoneText {
  width: 275px;
  padding-left: 25%;
  margin-top: 2%;
} */

/* .contact-section .contact-info .location {
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 7%;
  display: inline-flex;
} */

/* .contact-section .contact-info .location .locationText {
  width: 300px;
  padding-left: 20%;
} */