.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  justify-content: center;
  background-color: #17252A;
}

.contact-Title {
  color: white;
  text-align: center;
  margin: 0em 0 1em 0;
}

.contact-Title hr {
  width: 17em;
}

.contact-info {
  align-self: center;
  background-color: #2b7a78;
  width: 85%;
  border-radius: 1em;
  height: fit-content;
}

.contact-info p {
  text-align: center;
  margin-left: 2em;
  align-self: center;
  font-size: 1.3rem;
}

.emailA {
  align-self: center;
  font-size: 1.3rem;
  flex-shrink: 1;
}

.phoneA {
  align-self: center;
  margin-left: 2em;
  text-decoration: none;
  font-size: 1.5rem;
  flex-shrink: 1;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  flex-shrink: 1;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

.seattleImage {
  display: none;
}

@media only screen and (min-width: 70em) {
  .contact-block {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }

  .phoneA {
    font-size: 1.4em;
  }

  .contact-info {
    display: flex;
    flex-flow: row;
  }

  .seattleImage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .seattle-img {
    align-self: center;
    margin-top: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}