.navbar {
  display: none;
}

/* .navbar {
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-image: url('../images/main-background.jpg');
}

.navbar ul {
  list-style: none;
  text-align: right;
  margin-top: 1.5%;
  margin-right: 2%;
}

.navbar ul li {
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
  display: inline;
  cursor: pointer;
}

.navbar-item > .active {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 24em) {
    .navbar {
        display: none;
    }
} */