.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
  height: 7em;
  width: 100%;
  background-image: url('../images/main-background.jpg');
  transition: height 0.5s;
}

.navbar.smaller {
  height: 3.5em;
}

.navbar ul {
  list-style: none;
  margin-right: 2em;
}

.navbar ul li {
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
  display: inline;
  cursor: pointer;
}

.navbar-item > .active {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 55em) {
    .navbar {
        display: none;
    }
}