.navigation {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 3;
  height: 7em;
  width: 100%;
  background-image: url('../images/main-background.jpg');
  transition: height 0.5s;
}

header {
  width: 100%;
  text-align: right;
}

.navbar.smaller {
  height: 3.5em;
}

.ULdiv {
  display: inline-flex;
  text-align: right;
}

.myName {
  display: none;
}

.myName.appear {
  color: white;
  display: inline-flex;
  text-align: left;
  margin-left: 2em;
  width: 40%;
}

.navbar ul {
  list-style: none;
  margin-right: 2em;
}

.navbar ul li {
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
  display: inline;
  cursor: pointer;
}

.mobileDiv {
  display: none;
}

@media only screen and (max-width: 55em) {
    .navigationBar {
        display: none;
    }

    .mobileDiv {
      display: flex;
    }

    .myName.appear {
      width: 100%;
      justify-content: flex-end;
      margin-right: 1em;
    }
}