.projects-section {
  height: auto;
  width: 100%;
  background-color: #C5C6C7;
}

.projectsTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 4.5em;
}

.projectsTitle h1 {
  margin-bottom: 0.25em;
}

.projectsHR {
  display: block;
  width: 30%;
}

.projects-section .projectCards {
  padding-top: 3em;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 1 0 clac(50% - 1em);
  box-sizing: border-box;
  margin: 0em 1em 3em 0em;
  box-shadow: 0 6px 8px rgba(0,0,0,0.8);
  transition: 0.2s;
  border-radius: 5px;
  color: white;
  background-color: #2B7A78;
  width: 30em;
}

.cardTitle {
  font-size: 2rem;
  color: #000000;
}

.titleHR {
  display: block;
  width: 40%;
}

.NYTtitleHR {
  display: block;
  width: 80%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card a {
  color: black;
  text-decoration: none;
}

.card-content {
  padding: 1.4em;
  text-align: center;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
}

.card-content p {
  font-size: 90%;
}

.github-buttons {
  margin-bottom: 1em;
}

.demo-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fishland-github-buttons button{
  padding: 1em 1.5em;
}

.technologies {
  margin-bottom: 2em;
}

.demo-icons {
  padding: 1rem;
}

button {
  display: inline-block;
  color: #000000;
  padding: 1em 3em;
  background-color: #DEF2F1;
  border: 0.1em solid #000000;
  margin: 0 1em 0.2em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}

button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: white;
  background-color: #17252A;
  border-color: white;
}

.individual_card {
  text-align: center;
}

img {
  width: 95%;
  margin-top: 2em;
}

.projects-section .projectCards a {
  text-decoration: none;
}

.projects-section .heroku_warning {
    color: black;
    padding-bottom: 0.5em;
    text-align: center;
}

@media screen and (min-width: 100em) {
  .card {
    max-width: calc(25% - 1em);
  }
}