.projects-section {
  height: auto;
  background-color: #3D3b3c;
}

.projects-section .projectCards {
  display: flex;
  padding-top: 125px;
  padding-bottom: 60px;
  justify-content: center;
  flex-direction: row;
}

.projects-section .projectCards a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .projects-section div{
        justify-content: center;
    }
}