.projects-section {
  height: auto;
  background-color: #3D3b3c;
}

.projects-section .projectCards {
  display: flex;
  padding-top: 110px;
  padding-bottom: 10px;
  justify-content: center;
  flex-direction: row;
}

.projects-section .projectCards a {
  text-decoration: none;
}

.projects-section .heroku_warning {
    text-align: center;
    color: white;
    padding-bottom: 0.75%;
}

@media only screen and (max-width: 480px) {
    .projects-section div{
        justify-content: center;
    }

    .projects-section .heroku_warning p {
        text-align: center;
        margin: 10px 20px 20px 20px;
    }
}