.App {
  font-family: 'Montserrat', sans-serif;
  min-width: 1080px;
}

.navbar {
  position: fixed;
  top: 2%;
  width: 100%;
  right: 2%;
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li {
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
  display: inline;
  cursor: pointer;
}

.navbar-item > .active {
  border-bottom: 1px solid white;
}

.main-section {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  background-image: url('./images/main-background.jpg')
}

.main-section .title {
  color: white;
  font-size: 5em;
  padding: 5%;
  text-align: center;
  margin-bottom: -150px;
}

.main-section .subtitle {
  color: white;
  font-size: 2em;
  text-align: center;
}

.main-section .icons {
  color: white;
  padding: 100px;
  text-align: center;
  
}

.main-section .icons .githubButton {
  color: white;
  text-decoration: none;
  margin-right: 40px;
}

.main-section .icons .linkedinButton {
  color: white;
  text-decoration: none;
}

.main-section .icons .twitterButton {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.main-section .icons .mediumButton {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

/* .main-section .downArrow {
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
} */

.projects-section {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  background-color: #3D3b3c;
}

.projects-section .projectCards {
  padding: 3%;
  padding-top: 10%;
}

.projects-section .projectCards a {
  text-decoration: none;
}

.about-section {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  background-color: #7F7979;
}

.about-description {
  color: white;
  width: 50%;
  font-size: 1.15em;
  padding: 7%;
}

.about-section .icons {
  text-align: right;
  margin-right: 10%;
}

.about-section .icons .icon {
  margin-right: 2%;
}

.contact-section {
  display: flex;
}

.contact-section .contact-image {
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  width: 50%;
  background-image: url('./images/seattle_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-section .contact-info {
  background-color: #5f5b6b;
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  width: 50%;
}

.contact-section .contact-info .emailInfo {
  text-align: left;
  margin-left: 10%;
  margin-top: 40%;
}

.contact-section .contact-info .email{
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 40%;
  display: inline-flex;
}

.contact-section .contact-info .email .emailText {
  width: 275px;
  padding-left: 20%;
}

.contact-section .contact-info .phone {
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 7%;
  display: inline-flex;
}

.contact-section .contact-info .phone .phoneText {
  width: 275px;
  padding-left: 25%;
}

.contact-section .contact-info .location {
  color: black;
  font-size: 1.5em;
  margin-left: 10%;
  padding-top: 7%;
  display: inline-flex;
}

.contact-section .contact-info .location .locationText {
  width: 300px;
  padding-left: 20%;
}

footer {
  margin-left: 30px;
  margin-top: -40px;
  color: white;
}

